.chat-container {
  height:50vh;
  overflow: auto;
  width: 90%;
  margin: 10px auto;
}

.statusChat-container {
  display: flex;
  justify-content: center;
}

.sent {
  flex-direction: row-reverse;
}

.chat-message-input {
  line-height: 1.5;
  width: 80%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

.chat-submit-button {
  background-color: var(--color-gray-800);
  width: 10%;
  height: 100%;
  margin-left: 10px;
  border: none;
}

.chat-form-container {
  display: flex;
  justify-content: center;
  height: 7vh;
}
