.relaxmethods-selector-parent-container {
  margin: 20px;
  background: var(--color-gray-100);
  border-radius: 12px;
  width:90%;
  margin: auto;

}

.relaxmethods-selector-container {
  display: flex;
  flex-wrap: wrap ;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  justify-content: center;
  width: 100%;
  overflow-y: scroll;
  
}

.timesetter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.timesetter-container > *{
  margin-right: 15px;

}

.unwinds-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.unwinds-container {
  height: 45vh;
  width: 98%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.dashboard div {
  margin-top: 7px;
}

.unwindActions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
  border-radius: 12px;
  padding-right: 30px;
}

.action-button {
  display: flex;
  padding: 15px;
  border: 1px solid var(--color-Gray-1000);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
