.relaxmethods-selector-parent-container {
  margin: 20px;
  background: var(--color-gray-100);
  border-radius: 12px;
  width: 90%;
}

.relaxmethods-selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 13px;
  overflow: auto;
  justify-content: center;
}

.unwinds-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unwinds-container {
  height: 50vh;
  width: 98%;
  overflow-y: auto;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}

.dashboard div {
  margin-top: 7px;
}

.unwindActions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  padding-right: 30px;
}

.action-button {
  display: flex;
  padding: 15px;
  border: 1px solid var(--color-Gray-1000);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
