.chatmessage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  color: var(--color-gray-100);
}

.profilePic-chat-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 2px 5px;
}

.sent {
  flex-direction: row-reverse;
  text-align: right;
}

.received {
  flex-direction: row;
  text-align: left;
}
