.chatmessage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.profilePic-chat-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 2px 5px;
}

.sent {
  flex-direction: row-reverse;
}
