.footer-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: var(--color-gray-900);
  height: 7vh;
  /* align-items: stretch; */
}

.navButton {
  display: flex;
  padding: 0;
  border: 1px solid var(--color-Gray-1000);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
