.top-header-container {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100%;
  background-color: #dcdcdc;
}

.top-header-container {
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
}

.top-header-title {
  margin-left: 10px;
  margin-right: 10px;
}
