
.infoWindow {
  width: 90%;
}

.gm-style-iw{
  /* background-color: transparent!important;
  back
  box-shadow: none!important;
  border: none!important; */
  padding: 0!important;
background-color:rgba(224, 223, 219, 0.572)!important;
width:fit-content!important;
height: fit-content;

}




.gm-style .gm-style-iw-t::after{

  background-color:rgba(224, 223, 219, 0.572)!important;
}


  .infoWindow > * ::-webkit-scrollbar {
    display: none;

  }

  .infoWindow .unwind-outer-container {
    transform: scale(0.9);

  }

  .gm-style-iw-d div {
    width: fit-content!important;
    padding: 0!important;
   
  }

  .gm-style-iw-d{
    width: fit-content!important;
    padding: 0!important;
   
  }
  .gm-style > *{
    margin: 0!important;
    padding: 0!important;
    

  }